@import url('https://fonts.googleapis.com/css?family=Alice');
@import url('https://fonts.googleapis.com/css?family=Rubik');

p {
  font-size: 1em;
  line-height: 1.65;
  font-style: normal;
  font-weight: 200;
}

h1 {
  font-size: 4em;
  color: #66192e;
  font-family: "Alice";
  margin: 0;
}

h2 {
  font-family: "Alice";
  font-size: 2.25em;
  color: #66192e;
  margin: 1em 0 0.35em 0;
}

h3 {
  font-family: "Alice";
  font-size: 1.5em;
  color: #A36543;
  margin: 1.25em 0 .5em 0;
}

h5 {
  font-size: 0.8em;
  color: #8dacc8;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 2em 3em;
}

h6 {
  font-size: 0.8em;
  color: #dab3b0;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

body {
  background: #e8e3e0;
  font-family: "Rubik";
  font-size: 100%;
  margin: 0;
}

section {
  padding: 2em 2em 4em 2em;
}


a,
a:active,
a:visited {
  color: #66192e;
  text-decoration: none;
  transition: 250ms ease-out color;
}

a:hover,
a:focus {
  color: #dab3b0;
  text-decoration: none;
}

ol, ul {}

li {
  line-height: 2;
}

.post {
  
}
