.employmentjob {
  margin-bottom: 4em;
  padding-left: 3em;
  border-left: 4px solid #dab3b0;
}

.jobcompany {
  display: inline-block;
}

.jobcompany a {
  color: #66192e;
  text-decoration: none;
}

.joblocation,
.jobduration {
  display: inline-block;
  margin-right: 1em;
}

.joblocation,
.jobduration {
  font-size: 0.8em;
  color: #dab3b0;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

.jobtitle {
  font-family: "Alice";
  font-size: 2.25em;
  color: #66192e;
  margin: 0 0 0.35em 0;
}

